.project-card {
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  max-height: 400px;
  margin: auto;
  border-radius: 16px;
  margin-bottom: 50px;
  display: flex;
  overflow: hidden;
}

.card-text {
  flex: 1;
  margin-top: 100px;
  margin-left: 100px;
  width: 500px;
}

.card-text h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

.card-text p {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
  margin-bottom: 12px;
}

.card-text button {
  font-size: 13px;
  padding: 10px 18px;
  border-radius: 20px;
  border: 1px solid #000;
}

.card-img {
  flex: 1;
}

.card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-card.reverse {
  flex-direction: row-reverse;
}
