.project-card {
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  width: 70vw;
  height: 30vw;
  max-width: 800px;
  max-height: 400px;
  min-width: 400px;
  min-height: 200px;
  margin: auto;
  border-radius: 16px;
  margin-bottom: 50px;
  display: flex;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.04);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
}

.card-text {
  flex: 1;
  margin-top: 100px;
  margin-left: 100px;
  width: 500px;
}

.card-text h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

.card-text p {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
  margin-bottom: 12px;
}

.card-text button {
  font-size: 13px;
  padding: 10px 18px;
  border-radius: 20px;
  border: 1px solid #000;
  background: transparent;
}

.card-img {
  flex: 1;
}

.card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-card.reverse {
  flex-direction: row-reverse;
}
