.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-icon {
  width: 34px;
  margin-bottom: 25px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.social-icon:hover {
  transform: scale(1.2);
}

.footer-text {
  text-align: center;
  font-size: 15px;
  color: #777;
}

.footer {
  margin-top: 150px;
  margin-bottom: 100px;
}
