/* .hero {
  height: 100vh;
} */

.circle {
  background-color: #fdc435;
  width: 65vw;
  height: 45vw;
  max-width: 1000px;
  max-height: 800px;
  min-width: 400px;
  min-height: 300px;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  right: -10%;
  z-index: -1;
  overflow: hidden;
  box-shadow: inset 0 8px 20px rgba(0, 0, 0, 0.5);
}

.circle img {
  margin-top: 30%;
  margin-left: 20%;
  width: 50%;
  animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hero-text {
  margin-top: 10vh;
  margin-left: 8vw;
  width: 30%;
}

.hero-role {
  color: #fdc435;
}

.hero-text h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: clamp(2rem, 5vw, 3rem);
  color: rgb(44, 44, 44);
}

.hero-intro {
  color: gray;
  margin-top: 30px;
  font-size: clamp(14px, 1.2vw, 18px);
  line-height: 1.6;
  text-align: justify;
}

button {
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px) scale(1.05);
}

.btn-P {
  padding: 10px 20px;
  background-color: #fdc435;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-L {
  padding: 10px 20px;
  color: black;
  border: inset 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

@media (min-width: 1400px) {
  .hero-text {
    margin-left: 12vw;
  }

  .circle {
    top: -15%;
    right: -15%;
  }
}
