header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}

p {
  font-size: 1.2rem;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

ul li {
  transition: text-decoration 0.3s ease;
  cursor: pointer;
}

ul li:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}
